<div id="app">
  <nav class="navbar navbar-expand navbar-dark  bg-primary">
    <a href="home" class="navbar-brand">Barsha Technologie</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="isLoggedIn">
      <li class="nav-item" >
        <a href="/home" class="nav-link" routerLink="home">Accueil </a>
      </li>
      <li class="nav-item" >
        <a href="/addOffre" class="nav-link" routerLink="/addOffre">Ajouter Offre </a>
      </li>


    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <button href="/register" class="btn btn-info" type="button" routerLink="register">Inscription</button>
      </li>
      <li class="nav-item">

        <button href="/login" class="btn btn-warning" type="button" routerLink="login">Connexion</button>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"> Bonjour | {{ username }}</a>
      </li>
      <li class="nav-item">

        <button  href class="btn btn-danger" type="button" (click)="logout()">Déconnexion</button>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 @Barsha - Technology</span>
  </div>
</footer>
