<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="form.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username est obligatoire</div>
          <div *ngIf="username.errors.minlength">
            Username doit comporter au moins 3 caractères
          </div>
          <div *ngIf="username.errors.maxlength">
            Username doit comporter au maximum 20 caractères
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          type="text"
          class="form-control"
          name="nom"
          [(ngModel)]="form.nom"
          required
          minlength="3"
          maxlength="20"
          #nom="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && nom.invalid">
          <div *ngIf="nom.errors.required">Nom est obligatoire</div>
          <div *ngIf="nom.errors.minlength">
            nom doit comporter au moins 3 caractères
          </div>
          <div *ngIf="nom.errors.maxlength">
            nom doit comporter au maximum 20 caractères
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          class="form-control"
          name="prenom"
          [(ngModel)]="form.prenom"
          required
          minlength="3"
          maxlength="20"
          #prenom="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && prenom.invalid">
          <div *ngIf="prenom.errors.required">Prénom est obligatoire</div>
          <div *ngIf="prenom.errors.minlength">
            prenom doit comporter au moins 3 caractères
          </div>
          <div *ngIf="prenom.errors.maxlength">
            prenom doit comporter au maximum 20 caractères
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Email est obligatoire</div>
          <div *ngIf="email.errors.email">
            Email doit être une adresse e-mail valide
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Mot de passe est obligatoire</div>
          <div *ngIf="password.errors.minlength">
            Mot de passe doit être au moins 6 caractères
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">S'inscrire</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Félicitations , votre inscription a été validée avec succès !
    </div>
  </div>
</div>
